h3 { color: darkred; margin-left: 5%; } 

table, th, td { border: 1px solid grey; text-align:center; }

table { margin-left: 5%; } 

thead, tfoot { background-color: GainsBoro; }

#add { margin-left: 5%; }

#val { margin-top: 5px; margin-left: 5%; }

#add1 { width: 90px; }

.default { background: #fff; }

.invisible { display: none; }

.visible { display: inline; }

.notattend { background: #fff; color: #000; }

.attend { background: OliveDrab; color: #fff; }

.notpayed { background: IndianRed; color: #fff; }

.payed { background: GainsBoro; color #000; }

.button { width: 110px; }

.txt { color: Grey; margin-left: 5%; font-size: 11px; font-weight: normal; } 

.textBoxSmall { width: 30px; }

.black { color: black; }
